@page "/"

<h1 class="header" style="color: #0c5460">欢迎来到我的Coding小天地 <span class="badge badge-success">:)</span> </h1>
<p class="lead" style="color: #0c5460">你好,我是小白马</p>
<p class="lead" style="color: #0c5460">初次见面,请多多关照</p>
<p class="lead" style="color: #0c5460">谢谢你进入我的小世界</p>

<div class="container">

    <div id="MyFunsCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#MyFunsCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#MyFunsCaptions" data-slide-to="1"></li>
            <li data-target="#MyFunsCaptions" data-slide-to="2"></li>
        </ol>


        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <img src="C Sharp.jpg" class="d-block" height="300" width="400">
                    </div>
                </div>


                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <p style="width:300px; text-align:center; background-color:#17a2b8;border-radius:6px">这个网站就是用Blazor写的呀</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <img src="python.jpg" class="d-block" alt=".." height="300" width="400">
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <p style="width:300px; text-align:center; background-color:#17a2b8;border-radius:6px">人生苦短</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <img src="pi.jpg" class="d-block" alt=".." height="300" width="400">
                    </div>
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <p style="width:300px; text-align:center; background-color:#17a2b8;border-radius:6px">只会一点点,真的就一点点</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#MyFunsCaptions" data-slide="prev" style="background:0; border:0">
            <span class="carousel-control-prev-icon" style="background-color: #17a2b8;border:3px solid #17a2b8;border-radius:4px"></span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#MyFunsCaptions" data-slide="next" style="background:0; border:0">
            <span class="carousel-control-next-icon" style="background-color: #17a2b8;border:3px solid #17a2b8;border-radius:4px"></span>
        </button>
    </div>
</div>

<div class="jumbotron" style="background-color:#d1ecf1">
    <h1 class="display-4" style="color:#0c5460">个人简介</h1>
    <p class="lead" style="color:#0c5460">
        &nbsp &nbsp &nbsp &nbsp 我是小白神马好吃吗,你可以叫我,小白马.目前是CS的学生,也是一名编程爱好者.
    </p>
    <p class="lead" style="color:#0c5460">
        &nbsp &nbsp &nbsp &nbsp 接触代码好几年了.最早是从C++入门的编程.不得不说,C++这门语言还是有它自己的魅力的-也算是少数没有运行时消耗,却有高级的语法的程序设计语言.在学C++期间,接触过Qt,用Qt写过一些小东西(比如给信息课做在线考试程序,给自己做高考倒计时哈哈).那时候的梦想是做一款游戏(大概是FPS而且有载具的,因为那时候很迷BF),因此接触了几款开源的3D游戏引擎(Urho3D Panda3D),没做出什么东西啊.看过Primer E5,但是没有啃完.目前比较喜欢写C++11.
    </p>
    <p class="lead" style="color:#0c5460">
        &nbsp &nbsp &nbsp &nbsp 前一阵子接触了Python,写过简单的爬虫(反爬什么的还算最初级的),用flask做后端写过一点小玩意(流量统计 文件上传).Python确实好用,就是写多了反过来写CPP容易漏掉;.
    </p>
    <p class="lead" style="color:#0c5460">
        &nbsp &nbsp &nbsp &nbsp 最近在搞Web,三剑客算是都会一点点啦.Javascript这语言挺怪的.跟着微软101系列入门了C# / dotnet core / aspdotnet core / blazor.用aspdotnet core写了给还像是restful API的API(用mongodb做数据库).blazor很小众啊,但是学过dotnet了,就挺容易上手啊,也算好用啦.这个网站就是blazor写的,bootstrap控件基本对着文档写的哈哈.
    </p>
    <p class="lead" style="color:#0c5460">
        &nbsp &nbsp &nbsp &nbsp 学的还是太少了,要不断提升自己啊!
    </p>
    <hr class="my-4" style="color:#0c5460">
    <p style="color:#0c5460">&nbsp &nbsp &nbsp &nbsp 欢迎来我的Github(GayHub)玩耍啊</p>
    <a class="btn btn-outline-success btn-lg" href="https://github.com/RockRockWhite" role="button">点击进入小白马的Github</a>
</div>